/* Cart.module.css */
/* Cart.module.css */

.CheckOut {
  margin-top: 30px;
  text-align: center;
  align-self: flex-end;
  justify-self: flex-end;
}

.CheckOutContent {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.TotalPrice {
  font-size: 24px;
  color: #007bff;
}

.CheckOutButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  align-self: flex-end;
}
.CheckOutButton a {
  color: #fff;
  text-decoration: none;
}

.CheckOutButton:hover {
  background-color: #0056b3;
}
/*  */
.Cart {
  margin: 20px auto;
  max-width: 1200px;
  padding: 0 20px;
  min-height: 100vh;
}

.CartTitle {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.CartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(196, 195, 195);
  border-radius: 5px;
}

.NumCourse {
  font-size: 20px;
  margin-bottom: 10px;
  color: #666;
}

.CourseList {
  list-style: none;
  padding: 0;
}

.CartCard {
  display: flex;
  padding: 7px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: -2px -1px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  align-items: center;
  margin: 15px;
}

.CartCard:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img {
  width: 90px;
  height: 90px;
  min-width: 10%;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
}

.Content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 77%;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.description {
  font-size: 12px;
  color: #666;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
}

.Price {
  font-size: 15px;
  color: #007bff;
  margin-bottom: 10px;
}

.CardBtns {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  border-left: 1px solid rgb(180, 180, 180);
  padding: 7px;
}

.ViewCourseBTN,
.removeBTN {
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  background-color: inherit;

  font-size: 14px;
}
.removeBTN {
  color: red;
}
.ViewCourseBTN {
  color: #0056b3;
}
.removeBTN:hover {
  color: #0057b3b4;
}
.removeBTN:hover {
  color: rgba(255, 0, 0, 0.711);
}
@media (max-width: 768px) {
  .CartCard {
    max-width: 100%;
    margin: 10px 0;
  }

  .img {
    height: 150px;
  }

  .courseDetails {
    padding: 15px;
  }

  .title {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .description {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .Price {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .CardBtns {
    flex-direction: column;
    align-items: stretch;
  }

  .ViewCourseBTN,
  .removeBTN {
    padding: 8px 16px;
    font-size: 12px;
    margin-bottom: 8px;
  }
}
