.ContactUsContainer {
  margin: 60px auto;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 70%;
  box-shadow: 0px 0px 4px 1px #8080803d;
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContactUsImg {
  width: 300px;
  height: 300px;
}
.contactUsForm {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contactUsForm h2 {
  margin-bottom: 30px;
}
.ContactUsContainer input {
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}
.ContactUsContainer .button {
  background-color: #154c84;
  margin-top: 13px;
  display: block;
  padding: 10px 43px;
  color: white;
  border: none;
  border-radius: 6px;
}

.ContactUsContainer .button:hover {
  background-color: #1e5d88;
}
@media screen and (max-width: 900px) {
  .ContactUsContainer {
    width: 90%;
  }
  .ContactUsImg {
    display: none;
  }
  .contactUsForm {
    width: 100%;
  }
  .ContactUsContainer input {
    width: 100%;
  }
  .ContactUsContainer textarea {
    width: 100%;
  }
}
