.CoursesFilters {
  display: flex;
  margin: 0;
  gap: 10px;
}
.filters {
  box-shadow: inset 2px -2px 15px rgba(0, 0, 0, 0.1);
  padding: 3px;
}
.CoursesFilters .filters {
  /* padding: 30px 20px; */
  width: 17%;
  background-color: white;
  height: 100%;
  min-width: 225px;
}
.CoursesFilters .filterIcon {
  width: 35px;
  height: 35px;
}
.CoursesFilters .Courses {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--course-card-min-width), var(--course-card-max-width))
  );
  padding: 20px 0;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.Filter .stars {
  display: flex;
  align-items: center;
  justify-content: center;
}
.star {
  width: 20px;
  height: 20px;
  color: var(--gold-color);
}
.stars .AndUp {
  color: #797979;
}
/* check box  list*/
.FilterName {
  font-weight: bold;
}
.checkboxList {
  list-style: none;
  margin-top: 20px;
}

.checkboxList label {
  margin-bottom: 0.5rem;
  font-size: 12px;
  color: #333;
  font-weight: 400;
}

.checkboxList input[type="checkbox"] {
  margin-right: 0.5rem;
  padding: 0;
  transform: translateY(2px);
  height: 15px;
  width: 15px;
  display: inline-block;
}

.checkboxList input[type="checkbox"]:checked + label {
  font-weight: bold; /* Change font weight for checked checkboxes */
  color: #007bff; /* Change text color for checked checkboxes */
}
.filtersBtn {
  background-color: inherit;
  border: none;
  /* width: 146%; */
  font-size: 24px;
  padding-top: 15px;
  color: #0d4276;
}
.filtersDiv {
  background-color: rgb(255, 255, 255);
}

/*  */
@media (max-width: 600px) {
  .filters {
    display: none;
  }

  .filters.visible {
    display: block;
    z-index: 9999;
    position: fixed;
  }
}
