.course-card {
  border-radius: 8px;
  box-shadow: var(--main-box-shadow);
  background-color: #f9f9f9;
  min-width: var(--course-card-min-width);
  max-width: var(--course-card-max-width);
  height: 430px;
  justify-self: center;
  overflow: hidden;
}

.course-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.course-card .course-content {
  padding: 10px;
  overflow: hidden;
}

.course-card h2 {
  margin: 10px 0;
  font-size: 16px;
  font-weight: bolder;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.course-card p {
  color: #666;
  font-size: 12px;
  margin-bottom: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-card .detail {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.course-card .detail svg {
  width: 18px;
  height: 18px;
}
.rating-icon {
  color: var(--gold-color);
}

.time-icon {
  color: #4a4a4a;
}
.course-card .detail p {
  margin: 0;
  font-weight: bold;
}

.course-card .ViewCourseBTN {
  background-color: var(--buttons-color);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  padding: 10px;
  border: none;
  width: 50%;
  text-align: center;
  border-radius: 8px;
}

.course-card .ViewCourseBTN:hover {
  background-color: var(--darker-color);
}
.CardBTN {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.CardBtns {
  width: 100%;
  display: flex;
  gap: 10px;
}
.AddToCartBTN {
  width: 50%;
  color: #333;
  background-color: #fff;
  border: 1px solid var(--gold-color);
  border-radius: 8px;
}
.removeBTN:hover {
  background-color: #ececec;
}
.course-card .AddToCartBTN:hover {
  background-color: #ffffff;
}
.currency {
  vertical-align: top;
  font-size: 8px;
}
.course-card .price {
  padding: 2px 3px;
  min-width: 20px;
  display: inline-block;
  font-size: 15px;
}
.price .priceValue {
  color: #1d60a1;
  font-size: 18px;
  border-radius: 10px;
  padding: 1px 8px;
}
.price .free {
  color: green;
  font-size: 18px;
  border-radius: 10px;
  padding: 1px 14px;
}
