.discussion {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.discussion h1 {
  margin: 0;
  margin-bottom: 40px;
}

.discussion .comment {
  margin-bottom: 20px;
  display: flex;
}

.discussion .comment.main {
  /* padding: 0 20px;
  border-right: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 10px; */
  /* padding: 10px 15px; */
  /* border-right: 1px solid #d3d3d3; */
  /* border-bottom: 1px solid #d3d3d3; */
  padding-bottom: 10px;
  border: 1px solid #c6c5c5;
  border-radius: 17px;
  padding: 0;
  overflow: hidden;
}

.discussion .userAvatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.discussion .userAvatar img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #d3d3d3;
  display: block;
}

.discussion .commentDetails {
  flex-grow: 1;
  flex: 1;
}

.discussion .commentDetails h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 1rem;
}

.discussion .commentDetails .content {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.discussion .replies {
  /* margin-left: 60px; */
  margin-top: 20px;
  max-height: 300px;
  overflow: auto;
}

.discussion .replies .comment {
  border-left: 2px solid #ccc;
  padding-left: 10px;
}

.discussion .loadMore {
  text-align: center;
  margin: 10px 0;
}

.discussion .loadMore button {
  background: transparent;
  outline: unset;
  border: unset;
  text-decoration: underline;
  cursor: pointer;
}

.discussion .comment .reply {
  margin-left: 60px;
  display: flex;
  gap: 20px;
  align-items: baseline;
}

.discussion .comment .reply input.discussionInput {
  border-radius: 20px;
  border: 1px solid #d3d3d3;
  background: #f2f2f2;
  height: 40px;
  padding: 10px;
  flex: 1;
  width: auto;
}

.discussion .comment .reply button {
  border: unset;
  border-radius: 20px;
  padding: 8px;
  color: #fff;
  background: #1f76de;
  font-size: 0.9rem;
  font-weight: 500;
}

.discussion form {
  width: 100%;
}

.discussion form textarea.discussionInput {
  display: block;
  width: calc(100% - 20px);
  min-height: 200px;
  outline: unset;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  background: #f2f2f2;
  padding: 10px;
}

.discussion form button {
  margin: 20px 0;
  width: 100%;
  height: 50px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  background: #1f76de;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.discussion .likes {
  color: var(--main-color);
  /* text-decoration: underline; */
  cursor: pointer;
  margin: 0;
  width: 50%;
  border: none;
  color: #292929;
  padding: 9px;
  background-color: #f8f8f8;
}

.discussion .replies .commentDetails {
  background: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  max-width: 87%;
  min-width: 200px;
}
/* new */
.showFormButton {
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid #d3d3d3;
  background: #f2f2f2;
  height: 43px;
  padding: 10px;
  flex: 1 1;
  width: 80%;
  color: #615e5e;
  display: flex;
}

.modal {
  display: block; /* Show the modal */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.537);
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.closeButton {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeButton:hover,
.closeButton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.postForm {
  display: flex;
  flex-direction: column;
}

.discussionInput {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  resize: none;
  margin-bottom: 10px;
  box-sizing: border-box;
  transition: border-color 0.2s;
}

.discussionInput:focus {
  border-color: #1877f2;
  outline: none;
}

.addPostButton {
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addPostButton:hover {
  background-color: #165cbb;
}
.newPost {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}
.newPost img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}
/* comments */
.showCommentsButton {
  cursor: pointer;
  width: 50%;
  border: none;
  color: #292929;
  padding: 9px;

  background-color: #f8f8f8;
}

.modal {
  display: flex; /* Use flex to center the modal */
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.closeButton {
  color: #aaa;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.closeButton:hover,
.closeButton:focus {
  color: black;
  text-decoration: none;
}

.replies {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.noComments {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #666;
}

.comment {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.loadMoreButton {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.loadMoreButton:hover {
  background-color: #165cbb;
}

.reply {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.discussionInput {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  margin-right: 10px;
  box-sizing: border-box;
  transition: border-color 0.2s;
}

.discussionInput:focus {
  border-color: #1877f2;
  outline: none;
}

.reply button {
  padding: 10px 20px;
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.reply button:hover {
  background-color: #165cbb;
}
.interActions {
  margin: 0px;
  padding: 0;
  border-top: 1px solid lightgrey;
}

/*  */
.comment {
  white-space: pre-wrap; /* This preserves whitespace and line breaks */
}
.userinfo {
  display: flex;
  align-items: center;
}
.mainData {
  padding: 10px;
}
