* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #166ec4;
  --darker-color: #07213b;
  --buttons-color: #0d4276;
  --very-light-color: #b9d4ed;
  --light-color: #458bd0;
  --gold-color: #ffbc15;
  --main-text-color: #2b2b2b;
  --warn-color: red;
  --main-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  --course-card-min-width: 290px;
  --course-card-max-width: 350px;
}

html,
body {
  font-family: "Rubik", sans-serif;
  color: var(--main-text-color);
  scroll-behavior: smooth;
}

.App .Content {
  max-width: 1464px;
  margin: auto;
}

.App p.created-since {
  font-size: 0.8rem;
  margin: -5px 0 10px 0;
  color: #a85454;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-end {
  justify-content: flex-end;
}
.primary {
  color: var(--main-color);
}
.warn {
  color: var(--warn-color);
}
.bg-color-transparent {
  background-color: transparent;
}
.outline0 {
  outline: 0;
}
.border0 {
  border: 0;
}
.cursor-pointer {
  cursor: pointer;
}
.semi-bold {
  font-weight: 500;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.fw {
  width: 100%;
}
.text-center {
  text-align: center;
}

.table-pagination {
  display: flex;
  justify-content: center;
}

.table-pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.table-pagination button.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.table-pagination button:not(:disabled):hover:not(.active) {
  background-color: #ddd;
}
.table-pagination button:disabled {
  pointer-events: none;
}
